body{
    background:linear-gradient(to right , rgb(129, 170, 216) , rgb(145, 196, 222));
    font-size:35px;
    color:aliceblue;
}
canvas{
    display:block;
    margin:0 auto;
}
.game-container {
    position: relative;
    width: 1280px;
    height: 768px;
    display:block;
    margin:0 auto;
}
.wave-display {
    margin: 5px 0;
    font-size: 50px;
    font-weight: bold;
}
.game-over{
    font-size: 200px;
    font-weight: bold;
    background:linear-gradient(to right , #00eeff , #078da2);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-color:transparent;
    color:transparent;
    font-family: 'Sour Gummy', cursive;
    position:absolute;
}
.stats{
    position: fixed;
    top:8px;
    left: 310px;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Sour Gummy', cursive;
    border-radius: 0 0 5px 0;
}
.tower-option {
    position: absolute;
    width: 144px;       /* było 240 */
    height: 144px;
    border-radius: 50%;
    display: none;
    pointer-events: auto;

    background: rgba(61, 61, 61, 0); /* przezroczyste */
}

.tower-options {
    position: absolute;
    width: 60px;       /* też zmniejszamy (70 → 42px) */
    height: 60px;
    background: linear-gradient(100deg , #7b7a7a , #a0a2a2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
