body{
    background-color:rgb(37, 37, 37);
}
.start{
    display:flex;
    justify-content:center;
    align-items:center;
    width:400px;
    height:160px;
    background-image: url('media/start-before.png');
    transition: 0.7s all ease;
}
.start:hover{
    background-image: url('media/start-after.png');
    transition: 0.7s all ease;
}