body{
    background-color:rgb(37, 37, 37);
}
.start{
    top:300px;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height:160px;
    background-image: url('media/start-before.png');
    transition: 0.7s all ease-in-out;
    margin-top:150px;
}
.start:hover{
    background-image: url('media/start-after.png');
    transition: 0.7s all ease-in-out;
}